
# Introduction to Pandas: Your Data Analysis Power Tool

---
**1: Welcome to Pandas**

*What is Pandas?*

Pandas is a powerful Python library for working with structured data (like tables, spreadsheets, or even database results). Think of it as Excel for Python, but with way more capabilities for analysis, cleaning, and transforming your data.

*Why Pandas?*

* **Easy Data Manipulation:** Makes loading, filtering, and organizing your data a breeze.
* **Data Cleaning:** Tools to handle missing values, errors, and inconsistencies.
* **Analysis Ready:** Built-in functions for calculating statistics, aggregating data, and more.
* **Integration:** Works well with other data science libraries like Matplotlib (for plotting) and Scikit-Learn (for machine learning).

**Multiple Choice Question**

Which of the following is NOT a reason to use Pandas?

a) It's great for cleaning messy data.

b) It can create beautiful visualizations by itself.

c) It simplifies working with structured data.

d) It integrates well with other data science tools.


---
**2: Getting Started**

**1. Importing Pandas**

In [ ]:
import pandas as pd

We use the alias `pd` for convenience, as it's a common convention.

**2. Reading Data**

*Loading the Automobile Dataset*

In [ ]:
df = pd.read_excel('/content/automobile_dataset.xlsx')

**Challenge:**

1. Read the file "automobile_dataset.xlsx" into a pandas Dataframe.
2. Display the first 5 rows of the dataframe.
3. Display column names.
4. Display the data types of each column.


```
# Write solution here.
```


---
**3: Basic Pandas Commands**

**1. Examining Your Data**

*Taking a Peek*

In [ ]:
# First 5 rows - the basic method
print(df.head())

  Make and model  Price  Mileage (mpg)  Repair record 1978  Headroom (in.)  \
0    AMC Concord   4099             22                 3.0             2.5
1      AMC Pacer   4749             17                 3.0             3.0
2     AMC Spirit   3799             22                 NaN             3.0
3  Buick Century   4816             20                 3.0             4.5
4  Buick Electra   7827             15                 4.0             4.0

   Trunk space (cu. ft.)  Weight (lbs.)  Length (in.)  Turn circle (ft.)  \
0                     11           2930           186                 40
1                     11           3350           173                 40
2                     12           2640           168                 35
3                     16           3250           196                 40
4                     20           4080           222                 43

   Displacement (cu. in.)  Gear ratio Car origin
0                     121        3.58   Domestic
1                     258        2.53   Domestic
2                     121        3.08   Domestic
3                     196        2.93   Domestic
4                     350        2.41   Domestic

In [ ]:
df.head()

In [ ]:
# First 5 rows - with formating to make it easier to read
print(df.head().to_markdown(index=False, numalign="left", stralign="left"))

| Make and model   | Price   | Mileage (mpg)   | Repair record 1978   | Headroom (in.)   | Trunk space (cu. ft.)   | Weight (lbs.)   | Length (in.)   | Turn circle (ft.)   | Displacement (cu. in.)   | Gear ratio   | Car origin   |
|:-----------------|:--------|:----------------|:---------------------|:-----------------|:------------------------|:----------------|:---------------|:--------------------|:-------------------------|:-------------|:-------------|
| AMC Concord      | 4099    | 22              | 3                    | 2.5              | 11                      | 2930            | 186            | 40                  | 121                      | 3.58         | Domestic     |
| AMC Pacer        | 4749    | 17              | 3                    | 3                | 11                      | 3350            | 173            | 40                  | 258                      | 2.53         | Domestic     |
| AMC Spirit       | 3799    | 22              | nan                  | 3                | 12                      | 2640            | 168            | 35                  | 121                      | 3.08         | Domestic     |
| Buick Century    | 4816    | 20              | 3                    | 4.5              | 16                      | 3250            | 196            | 40                  | 196                      | 2.93         | Domestic     |
| Buick Electra    | 7827    | 15              | 4                    | 4                | 20                      | 4080            | 222            | 43                  | 350                      | 2.41         | Domestic     |

**Questions**
- What does .to_markdown do?
- What is numalign?
- What is stralign?

**Multiple Choice Question**

What does the `df.head()` function do?

a) Displays the first 5 rows of the DataFrame.

b) Shows the last 5 rows of the DataFrame.

c) Provides a summary of the DataFrame's statistics.

d) Displays the column names of the DataFrame.

In [ ]:
# Column names
print(df.columns)

Index(['Make and model', 'Price', 'Mileage (mpg)', 'Repair record 1978',
       'Headroom (in.)', 'Trunk space (cu. ft.)', 'Weight (lbs.)',
       'Length (in.)', 'Turn circle (ft.)', 'Displacement (cu. in.)',
       'Gear ratio', 'Car origin'],
      dtype='object')

In [ ]:
# Print column names, but make it more readable
for col in df.columns:
  print(col)

Make and model
Price
Mileage (mpg)
Repair record 1978
Headroom (in.)
Trunk space (cu. ft.)
Weight (lbs.)
Length (in.)
Turn circle (ft.)
Displacement (cu. in.)
Gear ratio
Car origin

In [ ]:
# Data types
print(df.dtypes)

Make and model             object
Price                       int64
Mileage (mpg)               int64
Repair record 1978        float64
Headroom (in.)            float64
Trunk space (cu. ft.)       int64
Weight (lbs.)               int64
Length (in.)                int64
Turn circle (ft.)           int64
Displacement (cu. in.)      int64
Gear ratio                float64
Car origin                 object
dtype: object

In [ ]:
# Information about your data
print(df.info()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Make and model          74 non-null     object
 1   Price                   74 non-null     int64
 2   Mileage (mpg)           74 non-null     int64
 3   Repair record 1978      69 non-null     float64
 4   Headroom (in.)          74 non-null     float64
 5   Trunk space (cu. ft.)   74 non-null     int64
 6   Weight (lbs.)           74 non-null     int64
 7   Length (in.)            74 non-null     int64
 8   Turn circle (ft.)       74 non-null     int64
 9   Displacement (cu. in.)  74 non-null     int64
 10  Gear ratio              74 non-null     float64
 11  Car origin              74 non-null     object
dtypes: float64(3), int64(7), object(2)
memory usage: 7.1+ KB
None


**2. Selecting Data**

*Selecting Columns*

In [ ]:
# Select a single column
prices = df['Price']

# Select multiple columns
price_and_mileage = df[['Price', 'Mileage (mpg)']]

In [ ]:
# Let's look at prices
print(type(prices))

<class 'pandas.core.series.Series'>

In [ ]:
# Check the type of prices
print(type(prices))

<class 'pandas.core.series.Series'>

In [ ]:
# Print the first element of prices
print(prices[0])

4099

In [ ]:
# Let's look at price_and_mileage
print(price_and_mileage.iloc[10:15,0:2])

    Price  Mileage (mpg)
10  11385             14
11  14500             14
12  15906             21
13   3299             29
14   5705             16

In [ ]:
# Let's look at price_and_mileage
print(price_and_mileage['Mileage (mpg)'][0])
print('\n')
print(price_and_mileage['Price'][0])
print('\n')
print(type(price_and_mileage))
print('\n')
print(price_and_mileage.head())

22


4099


<class 'pandas.core.frame.DataFrame'>


   Price  Mileage (mpg)
0   4099             22
1   4749             17
2   3799             22
3   4816             20
4   7827             15

**3. Filtering Data**

**Section 1: Filtering by Single Condition**

Filtering allows you to select specific rows from a DataFrame based on certain conditions. The simplest way to filter is by a single condition.

**Syntax:**

In [ ]:
filtered_df = df[df['column_name'] == 'value']

or

In [ ]:
filtered_df = df[df['column_name'] > value]

Replace:

- `df` with your DataFrame name.
- `column_name` with the name of the column you want to filter on.
- `value` with the value you want to match or compare against.

**Example:** Filter cars with origin as 'Domestic'

In [ ]:
# Filter by 'Car origin'
domestic_cars = df[df['Car origin'] == 'Domestic']
print("Domestic cars:\n", domestic_cars.head().to_markdown(index=False, numalign="left", stralign="left"))

Domestic cars:
 | Make and model   | Price   | Mileage (mpg)   | Repair record 1978   | Headroom (in.)   | Trunk space (cu. ft.)   | Weight (lbs.)   | Length (in.)   | Turn circle (ft.)   | Displacement (cu. in.)   | Gear ratio   | Car origin   |
|:-----------------|:--------|:----------------|:---------------------|:-----------------|:------------------------|:----------------|:---------------|:--------------------|:-------------------------|:-------------|:-------------|
| AMC Concord      | 4099    | 22              | 3                    | 2.5              | 11                      | 2930            | 186            | 40                  | 121                      | 3.58         | Domestic     |
| AMC Pacer        | 4749    | 17              | 3                    | 3                | 11                      | 3350            | 173            | 40                  | 258                      | 2.53         | Domestic     |
| AMC Spirit       | 3799    | 22              | nan                  | 3                | 12                      | 2640            | 168            | 35                  | 121                      | 3.08         | Domestic     |
| Buick Century    | 4816    | 20              | 3                    | 4.5              | 16                      | 3250            | 196            | 40                  | 196                      | 2.93         | Domestic     |
| Buick Electra    | 7827    | 15              | 4                    | 4                | 20                      | 4080            | 222            | 43                  | 350                      | 2.41         | Domestic     |

**Question:**

How would you filter for cars with a price greater than $10,000?

**Section 2: Filtering by Multiple Conditions**

You can filter by multiple conditions using logical operators:

- `&` (and)
- `|` (or)
- `~` (not)

**Syntax:**

In [ ]:
filtered_df = df[(df['column1'] == 'value1') & (df['column2'] > value2)]

**Example:** Filter domestic cars with mileage greater than 25 mpg

In [ ]:
# Filter by 'Car origin' and 'Mileage (mpg)'
domestic_high_mileage_cars = df[(df['Car origin'] == 'Domestic') & (df['Mileage (mpg)'] > 25)]
print("\nDomestic cars with high mileage:\n", domestic_high_mileage_cars.head().to_markdown(index=False, numalign="left", stralign="left"))

**Question:**

How would you filter for cars that are either 'Ford' or 'Chevrolet' and have a price less than $6000?

**Section 3: Filtering by Text/Object Values**

When working with text data, you can use string methods like:

- `.str.contains()`
- `.str.startswith()`
- `.str.endswith()`

**Example:** Filter cars with 'Ford' in their name

In [ ]:
# Filter by 'Make and model' containing 'Ford'
ford_cars = df[df['Make and model'].str.contains('Ford')]
print("\nFord cars:\n", ford_cars.head().to_markdown(index=False, numalign="left", stralign="left"))

**Question:**

How would you filter for cars whose model names end with 'a'?

**Section 4: Combining Multiple Filtering Techniques**

You can combine different filtering techniques to create more complex queries.

**Example:** Filter affordable cars (price < $5000) or cars with high mileage (> 30 mpg)

In [ ]:
# Filter by 'Price' or 'Mileage (mpg)'
affordable_or_high_mileage_cars = df[(df['Price'] < 5000) | (df['Mileage (mpg)'] > 30)]
print("\nAffordable or high mileage cars:\n", affordable_or_high_mileage_cars.head().to_markdown(index=False, numalign="left", stralign="left"))

**Question:**

How would you filter for domestic cars that are not made by 'Chevrolet' and have a trunk space of more than 15 cubic feet?

**Challenge:**

1. Select the first 10 rows where the 'Car origin' is 'Foreign'.
2. Select rows where the 'Price' is greater than the mean price.
3. Filter rows where either 'Mileage (mpg)' is greater than 30 or 'Trunk space (cu. ft.)' is greater than 15.

```
# Write solution here.
```

---

**4: Summary Statistics**

In [ ]:
# Descriptive statistics
print(df.describe().round(2).to_markdown(numalign="left", stralign="left"))

**Multiple Choice Question**

What does the `df.describe()` function do?

a) It calculates the sum of all numerical columns.

b) It provides summary statistics (like mean, median, etc.) of the numerical columns.

c) It counts the number of unique values in each column.

d) It shows the first and last five rows of the DataFrame.


---
**5: Saving Your Work**

In [ ]:
# Save to a new CSV file
df.to_excel('/content/modified_automobile_data.xlsx', index=False)

---

**6: Handling Missing Data**

Real-world datasets often have missing values. Pandas provides tools to handle them:

**1. Identifying Missing Values**

In [ ]:
# Check for missing values
print(df.isnull().sum())

**2. Dropping Missing Values**

In [ ]:
# Fill missing values with a specific value
df_filled = df.fillna({'Repair record 1978': 0})

# Drop rows with any missing values
# df_dropped = df.dropna()  # Dropping from the original dataset is not always ideal

**Challenge:**
For the column `Repair Record 1978`, replace the missing values with the mean value of that column.

In [ ]:
# Write solution here.

---
**7: Transforming Data**
Pandas makes it easy to create new columns or change existing ones.

---
**Section 1: Creating New Columns**

**Explanation:**

Often, the most interesting insights come from combining or deriving information from your existing data. Pandas makes it easy to create new columns that capture these relationships.

**Code Example:**

In [ ]:
# Create a new column by combining information from existing ones
df['Price_per_MPG'] = df['Price'] / df['Mileage (mpg)']
print("\nData with new column 'Price_per_MPG':\n", df[['Make and model', 'Price', 'Mileage (mpg)', 'Price_per_MPG']].head().to_markdown(index=False, numalign="left", stralign="left"))

**Question:**

What are some other examples of new columns you might want to create from this dataset?

**Challenge:**

1. Create a new column called `Value_Score` which is calculated as `Mileage (mpg)` multiplied by `Trunk space (cu. ft.)`, then divided by `Price`.
2. Round the `Value_Score` to three decimal places.

In [ ]:
# Write solution here.

---

**Section 2: Modifying Existing Columns**

**Explanation:**

Sometimes, the data in your existing columns needs to be adjusted to fit your analysis. Pandas provides a multitude of ways to modify columns directly.

**Code Example:**

In [ ]:
# Convert 'Weight (lbs.)' to kilograms
df['Weight (kgs)'] = df['Weight (lbs.)'] * 0.453592
print("\nData with modified column 'Weight (kgs)':\n", df[['Make and model', 'Weight (lbs.)', 'Weight (kgs)']].head().to_markdown(index=False, numalign="left", stralign="left"))

**Question:**

What are some reasons you might need to modify existing columns in a dataset?

**Challenge:**

Normalize the `Price` column by subtracting the mean price and dividing by the standard deviation of the price. Store the result in a new column called `Normalized_Price`.

In [ ]:
# Write solution here.

---
**Section 3: Converting Data Types**

**Explanation:**

The data type of a column is crucial for how Pandas handles it. Ensuring the right data type enables correct calculations and operations.

**Code Example:**

In [ ]:
# Convert 'Car origin' to categorical
df['Car origin'] = df['Car origin'].astype('category')
print(df.info())

In [ ]:
# Create a categorical column based on conditions
df['Price Category'] = pd.cut(df['Price'], bins=[0, 5000, 10000, float('inf')], labels=['Low', 'Medium', 'High'])

**Question:**

Why is it important to have the correct data type for a column in your analysis?

**Challenge:**

The `Repair record 1978` column currently contains floating-point numbers, but it makes more sense for it to be integers since repair records are typically whole numbers. Convert it to an integer data type.

In [ ]:
# Write solution here.

**2. Modifying Existing Columns**

In [ ]:
# Convert 'Weight (lbs.)' to kilograms and store in a new column.
df["Weight(kgs)"] = df["Weight (lbs.)"] * 0.453592

**Challenge:**

Create a new column called `Affordable` which is 'Yes' if the price of the car is less than $5000 and 'No' otherwise.

In [ ]:
# Write solution here.

---
**8: Grouping and Aggregating**

This is where Pandas shines! We can group data by categories and calculate statistics for each group:

In [ ]:
# Group by 'Car origin' and calculate mean price and mileage for each group
grouped_data = df.groupby('Car origin')[['Price', 'Mileage (mpg)']].mean()
print(grouped_data)

In [ ]:
print(type(grouped_data))
df.to_excel('/content/grouped_data.xlsx', index=False)

**Challenge:**

1. Group the dataframe by `Price Category` and find the average `Mileage (mpg)` and `Trunk space (cu. ft.)` for each category.
2. Group by `Car origin` and count the number of cars in each origin.

In [ ]:
# Write solution here.